<div class="card">
  <h4 class="card-header">@ViewChild: Referencia de un componente desde una clase</h4>
  <div class="card-body">
    <div class="input-group">
      <input type="text" [(ngModel)]="texto" class="form-control" placeholder="Escribe un mensaje">
      <br>
      <button (click)="enviarMensaje()" class="btn btn-success">Enviar</button>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="mensajeDeError">{{mensajeDeError}}</div>
    <br>
    <app-hijo-view-child #hijo></app-hijo-view-child>
  </div>
</div>
