<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="margin-top: 10px;">
  <div align="center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-outline-primary" routerLink="var-ref-plantilla">Variable de referencia de plantilla</a>
      <a class="btn btn-outline-primary" routerLink="padre-view-child">Referenciar un componente desde una clase</a>
      <a class="btn btn-outline-primary" routerLink="padre-view-children">Referenciar varios componentes desde una
        clase</a>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>
